/* Add here all your css styles (customizations) */
body {
	font-family: 'Lato', sans-serif;
}

.pl-10 {
	padding-left: 10px;
}

.header-v6 .mega-menu .equal-height-list h4 {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px 0 13px;
}

@media (min-width: 992px){
	.header-v6 .navbar-nav > li > a {
		font-size: 13px;
	    padding: 11px 14px;
	    line-height: 72px;
	    text-transform: capitalize;
	}
}


.row {
  margin-left: 0;
  margin-right: 0;
}

.mega-menu-content .split-text h5{
	padding-bottom: 5px;
}

@media (min-width: 992px) {
	.header-v6 .dropdown-menu .active > a, 
	.header-v6 .dropdown-menu li > a:hover, 
	.header-v6 .dropdown-menu .mega-menu-content li > a:hover {
	    text-decoration: underline;
	}
}

.header-v6 .mega-menu .dropdown-menu {
	border-radius: 5px;
}

.header-v6 .mega-menu .dropdown-menu-center {
    left: 0;
}

.header-v6 .mega-menu .dropdown-wrap {
    padding-top: 0;
}


@media screen and (max-width: 1030px) {
	.mega-menu-content .split-text h5{
		text-align: left;
		border-bottom: 1px solid #eee;
	}
}

@media (min-width: 992px) {
	.header-v6 .mega-menu .pl-15 {
		padding-left: 15px;
	}
}

.dropdown:hover .dropdown-toggle {
    color: #27d7e7 !important;
}


/*Parallax Counter v1
------------------------------------*/
.parallax-counter-v1 {
  background: url(../img/patterns/4.png) repeat fixed;
}